# 🌐 Web & Server
quart==0.19.6
flask==3.0.3
hypercorn==0.16.0

# 🤖 Telegram Bot
python-telegram-bot==21.4

# 📊 Daten & Machine Learning
pandas==2.2.3
numpy==2.1.1
scikit-learn==1.5.2
matplotlib==3.9.2

# 🔗 APIs & Monitoring
requests==2.32.3
watchdog==5.0.3

# 🧠 KI / Deep Learning
tensorflow==2.20.0
ml-dtypes==0.5.1

# 🛠️ Sonstiges
asyncio==3.4.3
